.nav-bar-animelist {
	background-color: #34c97e;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-bar-animelist-mobile {
	display: flex; 
	justify-content: flex-end;
	flex-direction: row;
	background-color: #5CDB95;
}


.nav-bar-animelist-2 {
	display: flex; 
	justify-content: flex-end;
	flex-direction: row;
	background-color: #5CDB95;
}

.input-search-container-mobile {
	width: 100%;
}
.input-search-mobile {
	width: 100%;
}

.btn-advance {
	background-color: #F3A8BC;
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
}


.btn-advance-sort {
	font-size: 10px;
	text-align: center;
	width: 2%;
	border-radius: 5px;
	margin-left: 10px;
}

button {
	background-color: #05386B;
}

.tag {
	background-color: #F3A8BC;
}


.anime-card-top {
	/* overflow: auto; */
	margin-left: 1%;
	margin-right: 1%;
	width: 100%;
	height: 98%;
	/* text-align: center; */
	background-color: #EDF5E1;
}

.anime-card {
	overflow: auto;
	margin: 1%;
	width: 100%;
	height: 98%;
	text-align: center;
	background-color: #EDF5E1;
}


.anime-card-mobile {
	overflow: auto;
	margin: 1%;
	width: 100%;
	height: 98%;
	text-align: center;
	background-color: #EDF5E1;
}






.anime-header, .anime-header-anime {
	display: flex;
	justify-content: center;
}
.anime-header-anime h3 {
	font-weight: bold;
}


.anime-header h3{
	font-weight: bold;
}

.anime-body-desc {
    width: 50%;
	overflow: auto;
	padding: 1%;
}

.anime-body-desc p {
	font-size: 12px;
}

.anime-body {
	padding: 1%;
	width: 100%;
	height: 60%;
	border-radius: 15px;
	border-style: outset;
}

.anime-detail-top {
	text-align: center;
	width: 100%;
	overflow: auto;
	margin-left: 5px;
	margin-right: 5px;
}
.anime-bot-top {
	margin-top: 5%;
}
.torrent-button-top {
	border-radius: 10px;
	width: 30%;
	font-size: 20px;
	text-align: center;
	cursor: pointer; 
	background-color: #34c97e;
}

.anime-body-top {
	width: 100%;
	height: 100%;
	/* border-radius: 15px;
	border-style: outset; */
	cursor: pointer;
	/* overflow: auto; */
}

.anime-body-anime {
	padding: 1%;
	width: 100%;
	height: 150px;
	border-radius: 15px;
	border-style: outset;
}

.anime-image {
	width: 50%;
	border-radius: 15px;
	border-style: outset;
}

.anime-image-top {
	width: 50%;
	border-radius: 15px;
	/* border-style: outset; */
}

.anime-image-mobile {
	width: 50%;
	height: 100%;
}


.anime-top-chip {
	display: flex;
	justify-content: center;
	padding-bottom: 2%;
}


.button-spring {
	background-color:#F3A8BC; 
	border-radius: 25px; 
	margin-left: 10px;
}

.button-summer {
	background-color:#d9ba4c; 
	border-radius: 25px; 
	margin-left: 10px;
}

.button-winter {
	background-color:#B3DAF1; 
	border-radius: 25px; 
	margin-left: 10px;
}

.button-fall {
	background-color:#c98436; 
	border-radius: 25px; 
	margin-left: 10px;
}

.paginator-mobile {
	background-color: #34c97e;
}

.modal-body {
	background-color: #EDF5E1;
}


.option-sort,::ng-deep .mat-select-value, .paginator-mobile, .button-spring, .button-winter, .button-fall, .button-summer, 
.search-form, .find-torrent-text, .anime-body p,.anime-body-anime p, .anime-content h2, .anime-header h2,.anime-header h3, 
.btn-advance, .tag, .btn-qa-sticky, .btn-qa-sticky-back-to-top  {
	color: black;
	/* font-family: "Comic Sans MS", "Comic Sans", cursive; */
}

.question-container, .question-container-mobile {
  position: -webkit-fixed;
  position: fixed;
  bottom: 0;
  font-size: 20px;
  border-radius: 5px; 
  margin-left: 5px;
  margin-bottom: 5px;
}

.question-container {
	left: 0;
}

.question-container-mobile {
	margin-bottom: 50px;
	right: 0;
}

.btn-qa-sticky, .btn-qa-sticky-mobile {
	background-color: #F3872F;
}

.btn-qa-sticky-back-to-top, .btn-qa-sticky-back-to-top-mobile {
	background-color: #B3DAF1;
}

.btn-qa-sticky, .btn-qa-sticky-back-to-top, .btn-qa-sticky-mobile, .btn-qa-sticky-back-to-top-mobile  {
	margin-right: 5px;
}

.btn-qa-sticky-back-to-top-mobile {
	margin-top: 2px;
}

.btn-qa-sticky-mobile, .btn-qa-sticky-back-to-top-mobile {
	width: 100px;
	text-align: center;
}

.torrent-button-grid {
	cursor: pointer; 
	background-color: #34c97e;
	height: 40px;
	align-items: center;
}

.find-torrent-text {
	font-weight: bold;
	font-size: 20px;
}

::ng-deep .nav-bar-animelist {
	overflow: hidden;
}

@media (max-width: 400px) {

}

@media (max-width: 1750px) {
	::ng-deep .mat-chip-list-wrapper {
		flex-wrap: unset !important;
		overflow-x: scroll;
	
	}

	::ng-deep .tag {
		height: 40px;
	} 
}


.nav-spacer {
    display:inline-block; 
    width: 1%;
}

.searchNameField-mobile {
	width: 150px !important;
}
