.modal-body, .modal-footer,.modal-footer-mobile, .modal-body-mobile {
    background-color: #EDF5E1;
}

.modal-body, .modal-body-mobile {
    border-radius: 15px;
}

.modal-body, .modal-footer {
    width: 100%;
}

.modal-body {
    height: 100%;
    display: block;
}

button, .tag {
	background-color: #F3A8BC;
    color: black;
}


.close {
    background-color: #EDF5E1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    text-align: right;
}

.close-image {
    width: 60%;
}

/* 
.anime-div {
    margin-top: 5%;
    margin-bottom: 5%;
} */

.anime-div {
    width: 50%;
    /* height: 80%; */
    margin-left: 5px;
    margin-right: 5px; 
}

.anime-image-modal {
    border-radius: 15px;
    height: 100%;
}

.anime-image-modal-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.chip-container {
    display: flex;
    justify-content: center;
}

.anime-container {
    margin-top: 5%;
    overflow: auto;
    height: 300px;
    /* height: 350px; */
}
/* 
.anime-div-description {
    overflow-x: auto;
    height: 80%;
    margin-left: 5px;
    margin-right: 5px;
} */

.anime-modal-body {
    color: black;
	/* font-family: "Comic Sans MS", "Comic Sans", cursive; */
}

::ng-deep .modal-content {
    overflow: auto;
}