.img-container {
    width: 100%;
    height: 200px;
    max-height: 240px;
    overflow: hidden;
    position: relative;
}

.img-container img {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.nav-spacer {
    display:inline-block; 
    width: 5%;
}

.nav-bar div:hover {
    color: red;
    cursor: pointer;
}