.modal-body, .modal-footer,.modal-footer-mobile, .modal-body-mobile {
    background-color: #EDF5E1;
}

.modal-body, .modal-body-mobile {
    border-radius: 15px;
}

.modal-body, .modal-footer {
    /* margin-left: -50%; */
    width: 100%;
}
button, .tag {
	background-color: #05386B;
}