.modal-body, .modal-footer,.modal-footer-mobile, .modal-body-mobile {
    background-color: #EDF5E1;
}

.modal-body, .modal-body-mobile {
    border-radius: 15px;
}

.modal-body, .modal-footer {
    width: 100%;
}

.modal-body {
    height: 100%;
    display: block;
}

button, .tag {
	background-color: #F3A8BC;
    color: black;
}


.close {
    background-color: #EDF5E1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    text-align: right;
}

.close-image {
    width: 60%;
}


.anime-image, .anime-div {
    margin-top: 5%;
    margin-bottom: 5%;
}

.anime-div {
    overflow: hidden;
    width: 50%;
}

.anime-image {
    border-radius: 15px;
    margin: 2%;
}

.anime-container {
    height: 350px;
}

.anime-div-description {
    margin-top: 10%;
    overflow-x: auto;
    height: 80%;
}

.anime-modal-body {
    color: black;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

::ng-deep .modal-content {
    overflow: auto;
}