.nav-bar-animelist{
	overflow-x: auto;
	background-color: #34c97e;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-bar-animelist-2nd {
	overflow-x: auto;
	background-color: #B3DAF1 !important;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px !important;
}



.nav-bar-animelist-mobile {
	overflow-x: auto;
	display: flex; 
	justify-content: flex-end;
	flex-direction: row;
	background-color: #5CDB95;
}


.icon-color {
	color: black !important;
}


.btn-advance {
	background-color: #F3A8BC;
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
}




.button-type {
	background-color:#d9ba4c; 
	border-radius: 5px; 
	margin-left: 10px;
}
.button-spring {
	background-color:#F3A8BC; 
	border-radius: 25px; 
	margin-left: 10px;
}

.button-summer {
	background-color:#d9ba4c; 
	border-radius: 25px; 
	margin-left: 10px;
}

.button-winter {
	background-color:#B3DAF1; 
	border-radius: 25px; 
	margin-left: 10px;
}

.button-fall {
	background-color:#c98436; 
	border-radius: 25px; 
	margin-left: 10px;
}



.option-sort,::ng-deep .mat-select-value, .paginator-mobile, .button-spring, .button-winter, .button-fall, .button-summer, 
.search-form, .find-torrent-text, .anime-body p,.anime-body-anime p, .anime-content h2, .anime-header h2,.anime-header h3, 
.btn-advance, .tag, .btn-qa-sticky, .btn-qa-sticky-back-to-top  {
	color: black;
	/* font-family: "Comic Sans MS", "Comic Sans", cursive; */
}



::ng-deep .nav-bar-animelist, .nav-bar-animelist-2nd {
	overflow: hidden;
}

@media (max-width: 400px) {

}

@media (max-width: 1750px) {

}


.nav-spacer {
    display:inline-block; 
    width: 1%;
}

.nav-spacer-height {
    width: 1%;
	height: 2%;
}

.searchNameField-mobile {
	width: 150px !important;
}


.highlight{ 
	background-color:  white !important;
}