<div>
    <mat-toolbar class="nav-bar-animelist">
        <div>

            <div class="d-flex" *ngIf="mainList">

                <div>
                    <button mat-icon-button class="icon-color" (click)="openSidenav()">
                      <mat-icon>menu</mat-icon>
                    </button>
                </div>

                <div *ngFor="let item of mainList; let i = index">
                    <button class="button-spring"  *ngIf="item['name'] === 'Top Visual Novels'"
                    (click)="setRow(i, item['path']);" mat-flat-button>
                        <div [ngStyle]="{'color' : this.selectedIndex == i ? 'white' : 'black' }">
                            {{item['name'] }}
                        </div>
                    </button>

                    <button class="button-summer"  *ngIf="item['name'] === 'New Releases'"
                    (click)="setRow(i, item['path']);" mat-flat-button>
                        <div [ngStyle]="{'color' : this.selectedIndex == i ? 'white' : 'black' }">
                            {{item['name'] }}
                        </div>
                    </button>

                    <button class="button-fall"  *ngIf="item['name'] === 'Producers'"
                    (click)="setRow(i, item['path']);" mat-flat-button>
                        <div [ngStyle]="{'color' : this.selectedIndex == i ? 'white' : 'black' }">
                            {{item['name'] }}
                        </div>
                    </button>

                    <button class="button-winter"  *ngIf="item['name'] === 'Characters'"
                    (click)="setRow(i, item['path']);" mat-flat-button>
                        <div [ngStyle]="{'color' : this.selectedIndex == i ? 'white' : 'black' }">
                            {{item['name'] }}
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <form [formGroup]="searchForm" class="search-form" *ngIf="!isMobile">
            <mat-form-field >
                <input matInput formControlName="{{searchName}}" placeholder="Search"  [(ngModel)]="strTitle">

            </mat-form-field>

            <button mat-flat-button class="btn-advance" disabled="{{searchForm.invalid || !searchForm.dirty}}" (click)="setRow(-2, '/anime/search')">
                Search
            </button>

            <!-- <button mat-flat-button class="btn-advance" (click)="enablingFilter()">Filter</button>
            <button mat-flat-button class="btn-advance" (click)="enablingAdvanceSearch()">ADV</button> -->
        </form>
    </mat-toolbar>
</div>

<div [ngSwitch]="this.selectedIndex">
    <mat-toolbar class="nav-bar-animelist-2nd">
        <div  *ngSwitchCase="0">
            <div class="d-flex" *ngIf="mainList">
                <div *ngFor="let item of topList; let i = index"> 
                    <button class="button-type" 
                    (click)="setRow2nd(i, '/vn/top');" 
                    [ngStyle]="{'color' : this.selectedIndex2nd == i ? 'white' : 'black' }"
                        mat-flat-button>
                            <div>
                                {{item}}
                            </div>
                    </button>
                </div>
            </div>
        </div>

        
    </mat-toolbar>
</div>

<div *ngIf="!isConnectionError && !isLoading && isMobile">
    <mat-toolbar class="nav-bar-animelist-mobile">
        <form [formGroup]="searchForm" class="search-form">
                <mat-form-field class="searchNameField-mobile" >
                    <input matInput formControlName="{{searchName}}" placeholder="Search"  [(ngModel)]="strTitle">
                </mat-form-field>

                <button mat-flat-button class="btn-advance" disabled="{{searchForm.invalid || !searchForm.dirty}}" >
                    Search
                </button>

                <!-- <button mat-flat-button class="btn-advance" (click)="enablingFilter()">Filter</button>
                <button mat-flat-button class="btn-advance" (click)="enablingAdvanceSearch()">ADV</button> -->
        </form>
    </mat-toolbar>
</div>
