


    <body class="body-container">
            <div class="row">
                <div class="col-lg image-parent">
                    <img class="my-image" src="assets/images/sushi.jpg" alt="Err">
                </div>
                <div class="col-lg intro-div-parent">
                    <div class="intro-div">
                        <p>
                            <b class="main-text-1">Hello, I'm Duc Nguyen;</b>
                        </p>
                        <p class="sub-text">
                            I am a full stack developer. I enjoy building everything from small business web sites to highly interactive web & mobile applications.
                        </p>
                        <p class="sub-text">
                            If you are a company who is seeking for small website or an employer who is looking for a right talent. I am open to dicuss any opportunities.
                        </p>
                    </div>

                    <div class="intro-div-contact d-flex flex-column">
                        <p><b class="main-text-2">Get In touch;</b></p>
                        <div class="d-flex sub-text">
                            <img class="img-phone" src="assets/images/phone.png" alt="Err">
                            <div class="nav-spacer"></div>
                            <p>111-111-1111</p>
                        </div>
                        <div class="d-flex sub-text">
                            <img class="img-email" src="assets/images/email.png" alt="Err">
                            <div class="nav-spacer"></div>
                            <p>696969@gmail.com</p>
                        </div>
                    </div>

                    <div class="intro-icon-div d-flex ">
                        <a href='/assets/images/my-resume.pdf' target="_blank" rel="resume">
                            <img class="img-resume" src="assets/images/cv.png" alt="Err">
                        </a>
                        <div class="nav-spacer"></div>
                        <a href="https://www.google.com/" target="_blank"> <img class="img-git" src="assets/images/github.png" alt="Err"> </a>
                        <div class="nav-spacer"></div>
                        <a href="https://www.google.com/" target="_blank"> <img class="img-link" src="assets/images/linkedin.png" alt="Err"> </a>
                    </div>

                    <div class="intro-div-contact">
                        <button mat-raised-button (click)="navigaterToPageThenReload('/about')" >Interested? Click Here To Explore More</button>
                    </div>
                </div>
            </div>
    </body>
