body {background-color: white;}

/* 
    This time line entry
*/
::ng-deep mgl-timeline-entry .mgl-timeline-entry-card .mgl-timeline-entry-card-header, 
::ng-deep mgl-timeline-entry .mgl-timeline-entry-card   {
    border-radius: 10px;
}

::ng-deep mgl-timeline-entry .mgl-timeline-entry-card .mgl-timeline-entry-card-header {
    position: revert !important;
}

/* 
    This is the divider bar
*/
::ng-deep mgl-timeline .mgl-timeline-line {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 10px;
    width: 5px !important;
}

/* 
    Side Margin 
*/
::ng-deep mgl-timeline:not(.mobile) {
    /* 
            top px, left px
    */
    padding: 50px 65px;
  }
  
::ng-deep mgl-timeline.mobile {
    padding-right: 10px;
}

/* 
    Content
*/
::ng-deep mgl-timeline-entry .mgl-timeline-entry-card {
    cursor: pointer !important;
    margin-right: 5px !important;
}
 
/* 
    Entry Dot and its shape after evented
*/

::ng-deep mgl-timeline-entry-dot.primary {
    cursor: pointer !important;
    background-color: #379683;
    border-radius: 10px !important; 
}

/* 
    Selelectr such as YEAR
*/
::ng-deep mgl-timeline-entry-side.alternate, ::ng-deep mgl-timeline-entry-side {
    font-size: 40px;
    font-weight: bold;
    height: 100% !important ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

::ng-deep mgl-timeline-entry-side {
   text-align: left !important;
   padding-left: 5% !important;
}

::ng-deep mgl-timeline-entry-side.alternate {
   text-align: right !important;
   padding-right: 5% !important;
}

/* 
https://openbase.com/js/angular-mgl-timeline
https://stackblitz.com/edit/angular-mgl-timeline-thqhta?file=theme.scss,app%2Fapp.component.html

*/


