<div>
    <app-intro-navigator></app-intro-navigator>
    <body class>
        <div class="d-flex flex-column">
            <div class="container-xxl intro-container">
                <div class="timeline-intro" data-aos="fade-up">
                    Welcome To My Timeline
                </div>

                <mgl-timeline  [alternate]="false">
                    <mgl-timeline-entry>
                        <mgl-timeline-entry-header  class="collapsible" >Started working as assisstant manager at Lee Lee Int. Market</mgl-timeline-entry-header>
                        <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
                        <mgl-timeline-entry-side>2011</mgl-timeline-entry-side>
                        <mgl-timeline-entry-dot [size]="10"  >
                        </mgl-timeline-entry-dot>
                    </mgl-timeline-entry>
                    <mgl-timeline-entry>
                        <mgl-timeline-entry-header class="collapsible" >Finished high school degree</mgl-timeline-entry-header>
                        <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
                        <mgl-timeline-entry-side>2014</mgl-timeline-entry-side>
                        <mgl-timeline-entry-dot [size]="10">
                        </mgl-timeline-entry-dot>
                    </mgl-timeline-entry>
                    <mgl-timeline-entry>
                        <mgl-timeline-entry-header class="collapsible" >Fishined associate degree in Computer Programming and Started working as Price Analyst for Lee Lee Int. Market</mgl-timeline-entry-header>
                        <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
                        <mgl-timeline-entry-side>2017</mgl-timeline-entry-side>
                        <mgl-timeline-entry-dot [size]="10">
                        </mgl-timeline-entry-dot>
                    </mgl-timeline-entry>
                    <mgl-timeline-entry>
                        <mgl-timeline-entry-header class="collapsible" >Started B.S. program in ASU and Worted as Applicateion Developr for Lee Lee Int. Market</mgl-timeline-entry-header>
                        <mgl-timeline-entry-content>Created alter. POS for the Lee Lee, utilized my experience as a long time employee in which I created Java blah...</mgl-timeline-entry-content>
                        <mgl-timeline-entry-side>2018</mgl-timeline-entry-side>
                        <mgl-timeline-entry-dot [size]="10">
                        </mgl-timeline-entry-dot>
                    </mgl-timeline-entry>
                    <mgl-timeline-entry>
                        <mgl-timeline-entry-header class="collapsible"  >Joined Software developer Intership program at Softpoint LLC and Stepped down to Software support for Lee Lee </mgl-timeline-entry-header>
                        <mgl-timeline-entry-content>blah...</mgl-timeline-entry-content>
                        <mgl-timeline-entry-side>June-2020</mgl-timeline-entry-side>
                        <mgl-timeline-entry-dot [size]="10">
                        </mgl-timeline-entry-dot>
                    </mgl-timeline-entry>
                    <mgl-timeline-entry>
                        <mgl-timeline-entry-header class="collapsible"  >Promoted to Full Stack Developer at Softpoint LLC</mgl-timeline-entry-header>
                        <mgl-timeline-entry-content>
                            <div>blah...blah...</div>
                            <div>blah...blah...</div>
                            <div>blah...blah...</div>
                            <div>blah...blah...</div>
                        </mgl-timeline-entry-content>
                        <mgl-timeline-entry-side>Aug-2020</mgl-timeline-entry-side>
                        <mgl-timeline-entry-dot [size]="10">
                        </mgl-timeline-entry-dot>
                    </mgl-timeline-entry>
                    <mgl-timeline-entry>
                        <mgl-timeline-entry-header class="collapsible" >Joined Embry Health as Software Engineer</mgl-timeline-entry-header>
                        <mgl-timeline-entry-content>blah...</mgl-timeline-entry-content>
                        <mgl-timeline-entry-side>NOV-2020</mgl-timeline-entry-side>
                        <mgl-timeline-entry-dot [size]="10">
                        </mgl-timeline-entry-dot>
                    </mgl-timeline-entry>
                    <mgl-timeline-entry>
                        <mgl-timeline-entry-header class="collapsible" >Earn B.S. degree and Joined Gearfire as Software Engineer</mgl-timeline-entry-header>
                        <mgl-timeline-entry-content>blah...</mgl-timeline-entry-content>
                        <mgl-timeline-entry-side>2021</mgl-timeline-entry-side>
                        <mgl-timeline-entry-dot [size]="10">
                        </mgl-timeline-entry-dot>
                    </mgl-timeline-entry>
                </mgl-timeline>            
            </div>
            

            <section class="section">
                <div class="container d-flex flex-column">
                    <h2 class="section-title"> Summary </h2>
                </div>

                <div class="container-animate-title" data-aos="fade-down-left">
                    Work History
                </div>


                <div class="container-animate container-education-detail" data-aos="fade-down-left">
                    <mat-card>
                        <div class="row">
                            <div class="col-2">
                                <img class="img-education" src="assets/images/icon_gf.jpg" alt="Err">
                            </div>
                            <div class="col-7">
                                <div>
                                    Gearfire
                                </div>
                                <div>
                                    Software Engineer
                                </div>
                                <div>
                                    2018 - 2021
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="container-animate spacer container-education-detail" data-aos="fade-down-left">
                    <mat-card>
                        <div class="row">
                            <div class="col-2">
                                <img class="img-education" src="assets/images/icon_embry.jpg" alt="Err">
                            </div>
                            <div class="col-7">
                                <div>
                                    Embry Health
                                </div>
                                <div>
                                    Software Engineer
                                </div>
                                <div>
                                    2018 - 2021
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="container-animate spacer container-education-detail" data-aos="fade-down-left">
                    <mat-card>
                        <div class="row">
                            <div class="col-2">
                                <img class="img-education" src="assets/images/icon_softpoint.jpg" alt="Err">
                            </div>
                            <div class="col-7">
                                <div>
                                    Soft Point
                                </div>
                                <div>
                                    Full Stack Developer
                                </div>
                                <div>
                                    2018 - 2021
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="container-animate spacer container-education-detail" data-aos="fade-down-left">
                    <mat-card>
                        <div class="row">
                            <div class="col-2">
                                <img class="img-education" src="assets/images/icon_leelee.jpg" alt="Err">
                            </div>
                            <div class="col-7">
                                <div>
                                    Lee Lee International Market
                                </div>
                                <div>
                                    Application Developer
                                </div>
                                <div>
                                    2018 - 2021
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>


                <div class="container-animate-title" data-aos="fade-down-left">
                    Education
                </div>


                <div class="container-animate container-education-detail" data-aos="fade-down-left">
                    <mat-card>
                        <div class="row">
                            <div class="col-2">
                                <img class="img-education" src="assets/images/icon_asu.jpg" alt="Err">
                            </div>
                            <div class="col-7">
                                <div>
                                    Arizona State University
                                </div>
                                <div>
                                    Bachelor of Engineering - BE, Computer Software Engineering
                                </div>
                                <div>
                                    2018 - 2021
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="container-animate spacer container-education-detail" data-aos="fade-down-left">
                    <mat-card>
                        <div class="row">
                            <div class="col-2">
                                <img class="img-education" src="assets/images/icon_mcc.jpg" alt="Err">
                            </div>
                            <div class="col-7">
                                <div>
                                    Arizona State University
                                </div>
                                <div>
                                    Bachelor of Engineering - BE, Computer Software Engineering
                                </div>
                                <div>
                                    2018 - 2021
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="container-animate spacer container-education-detail" data-aos="fade-down-left">
                    <mat-card>
                        <div class="row">
                            <div class="col-2">
                                <img class="img-education" src="assets/images/icon_dobson.jpg" alt="Err">
                            </div>
                            <div class="col-7">
                                <div>
                                    Arizona State University
                                </div>
                                <div>
                                    Bachelor of Engineering - BE, Computer Software Engineering
                                </div>
                                <div>
                                    2018 - 2021
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
    
            </section>
        </div>
    </body>
</div>

