<div>
    <app-intro-navigator></app-intro-navigator>
    <body class="d-flex flex-column">
        <div class="container-xxl intro-container">
            <mgl-timeline  [alternate]="false">
                <mgl-timeline-entry>
                    <mgl-timeline-entry-header  class="collapsible"  [@collapse]="isCollapse">Started working as assisstant manager at Lee Lee Int. Market</mgl-timeline-entry-header>
                    <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
                    <mgl-timeline-entry-side>2011</mgl-timeline-entry-side>
                    <mgl-timeline-entry-dot [size]="10"  >
                    </mgl-timeline-entry-dot>
                </mgl-timeline-entry>
                <mgl-timeline-entry>
                    <mgl-timeline-entry-header class="collapsible"  [@collapse]="isCollapse">Finished high school degree</mgl-timeline-entry-header>
                    <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
                    <mgl-timeline-entry-side>2014</mgl-timeline-entry-side>
                    <mgl-timeline-entry-dot [size]="10">
                    </mgl-timeline-entry-dot>
                </mgl-timeline-entry>
                <mgl-timeline-entry>
                    <mgl-timeline-entry-header class="collapsible"  [@collapse]="isCollapse">Fishined associate degree in Computer Programming and Started working as Price Analyst for Lee Lee Int. Market</mgl-timeline-entry-header>
                    <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
                    <mgl-timeline-entry-side>2017</mgl-timeline-entry-side>
                    <mgl-timeline-entry-dot [size]="10">
                    </mgl-timeline-entry-dot>
                </mgl-timeline-entry>
                <mgl-timeline-entry>
                    <mgl-timeline-entry-header class="collapsible"  [@collapse]="isCollapse">Started B.S. program in ASU and Worted as Applicateion Developr for Lee Lee Int. Market</mgl-timeline-entry-header>
                    <mgl-timeline-entry-content>Created alter. POS for the Lee Lee, utilized my experience as a long time employee in which I created Java blah...</mgl-timeline-entry-content>
                    <mgl-timeline-entry-side>2018</mgl-timeline-entry-side>
                    <mgl-timeline-entry-dot [size]="10">
                    </mgl-timeline-entry-dot>
                </mgl-timeline-entry>
                <mgl-timeline-entry>
                    <mgl-timeline-entry-header class="collapsible"  [@collapse]="isCollapse">Joined Software developer Intership program at Softpoint LLC and Stepped down to Software support for Lee Lee </mgl-timeline-entry-header>
                    <mgl-timeline-entry-content>blah...</mgl-timeline-entry-content>
                    <mgl-timeline-entry-side>June-2020</mgl-timeline-entry-side>
                    <mgl-timeline-entry-dot [size]="10">
                    </mgl-timeline-entry-dot>
                </mgl-timeline-entry>
                <mgl-timeline-entry>
                    <mgl-timeline-entry-header class="collapsible"  [@collapse]="isCollapse">Promoted to Full Stack Developer at Softpoint LLC</mgl-timeline-entry-header>
                    <mgl-timeline-entry-content>
                        <div>blah...blah...</div>
                        <div>blah...blah...</div>
                        <div>blah...blah...</div>
                        <div>blah...blah...</div>
                    </mgl-timeline-entry-content>
                    <mgl-timeline-entry-side>Aug-2020</mgl-timeline-entry-side>
                    <mgl-timeline-entry-dot [size]="10">
                    </mgl-timeline-entry-dot>
                </mgl-timeline-entry>
                <mgl-timeline-entry>
                    <mgl-timeline-entry-header class="collapsible"  [@collapse]="isCollapse">Joined Embry Health as Software Engineer</mgl-timeline-entry-header>
                    <mgl-timeline-entry-content>blah...</mgl-timeline-entry-content>
                    <mgl-timeline-entry-side>NOV-2020</mgl-timeline-entry-side>
                    <mgl-timeline-entry-dot [size]="10">
                    </mgl-timeline-entry-dot>
                </mgl-timeline-entry>
                <mgl-timeline-entry>
                    <mgl-timeline-entry-header class="collapsible"  [@collapse]="isCollapse">Earn B.S. degree and Joined Gearfire as Software Engineer</mgl-timeline-entry-header>
                    <mgl-timeline-entry-content>blah...</mgl-timeline-entry-content>
                    <mgl-timeline-entry-side>2021</mgl-timeline-entry-side>
                    <mgl-timeline-entry-dot [size]="10">
                    </mgl-timeline-entry-dot>
                </mgl-timeline-entry>
            </mgl-timeline>            
        </div>


    </body>
</div>

