<body>
    <div class="dmca-body">
        <h1>
            <b>DMCA</b>
        </h1>
        <p>
            - <a href="https://www.anifinders.com/">Anifinders.com </a>is just a platform indexing links to the files already available on the other third-party websites.
        </p>
        <p>
            - We do not host any files on our server. All files such as (iso, torrent, etc..) are hosted on the third-party file hostings by the third-party.
        </p>
        <p>
            - This site, and other resources are reproduced from other public forums, and open-apis.
        </p>
        <p>
            - It’s not in our intention to hurt the profit of creators. We are simply sharing what we love with those of the same interest.
        </p>
    
        <p>
            - <a href="https://www.anifinders.com/">Anifinders.com </a> is in compliance with 17 U.S.C.512 and the Digital Millennium Copyright Act (DMCA). It is our policy to respond to any infringement notices and take appropriate actions under the Digital Millennium Copyright Act (DMCA) and other applicable intellectual property laws. 
        </p>
        <p>
            - If your copyrighted material has been posted on <a href="https://www.anifinders.com/">Anifinders.com </a> or if hyperlinks to your copyrighted material are returned through our search engine and you want this material removed, you must provide a written communication that details the information listed in the following section. Please be aware that you will be liable for damages (including costs and attorneys fees) if you misrepresent information listed on our site that is infringing on your copyrights.
        </p>
        <p>
            - The following information must be included in your copyright infringement claim:
        </p>
        <ul>
            <li>
                A physical or electronic signature of a person (full legal name) authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
            </li>
            <li>
                A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
            </li>
            <li>
                Information reasonably sufficient to contact you, such as an address, telephone number, and an electronic mail.
            </li>
            <li>
                The direct link (or links) to the allegedly infringed materials.
            </li>
            <li>
                Send DMCA take-down notices to <a href="ndduc05@gmail.com">ndduc05@gmail.com</a>.
            </li>
            <li>
                Please allow 1 to 3 business days for an email response.
            </li>
        </ul>
    </div>
</body>

