.modal-body, .modal-footer,.modal-footer-mobile, .modal-body-mobile {
    background-color: #EDF5E1;
}

.modal-body, .modal-body-mobile {
    border-radius: 15px;
}

.modal-body, .modal-footer {
    width: 100%;
}

.qa-form-field {
    width: 100%;
}


.question-body, .promp-text, .qa-form-field, .qa-form-field mat-label, .qa-form-field input, .qa-form-field mat-hint, .modal-footer button {
    color: black;
    /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
}

.loading-image {
    width: 50%; 
    height: 100%;
}


.modal-footer button {
    background-color: #F3A8BC;
}