<div class="torrent-body">
    <mat-accordion>
        <mat-expansion-panel class="expan-torrent" hideToggle  >
          <mat-expansion-panel-header>
              <mat-panel-title class="text-torrent">
                {{objectSource}}
              </mat-panel-title>
          </mat-expansion-panel-header>
    
          <div *ngIf="isLoading" style="text-align:center;">
            <img style="width: 20%; height: 20%;" class="" src="assets/images/loading-cute.gif" alt="Err">
          </div>
    
          <div *ngIf="!isLoading">
              <div *ngIf="isFound">
                  <div *ngFor="let item of gogoObjects">
                    
                    <mat-expansion-panel class="expan-torrent" hideToggle  >
                      <mat-expansion-panel-header class="text-torrent-exp-parent">
              
                          <mat-panel-title class="text-torrent-exp-child row">
                            <div class="col-8">
                              {{item.animeTitle}} 
                            </div>
                          </mat-panel-title>
               
                      </mat-expansion-panel-header>
                      <div class="torrent-div d-flex flex-column" (click)="navigaterToAnimeStream(item.animeId)">
                        <div class="d-flex justify-content-center">
                          {{item.animeTitle}}
                        </div>
                        <div class="d-flex justify-content-center">
     
                            Torrent File
                          
                        </div>

                      </div>
                    </mat-expansion-panel>
                  </div>
              </div>
              <div *ngIf="!isFound">
                  <a>No Results Found, Try Custom Search</a>
              </div>
          </div>
        </mat-expansion-panel>
    </mat-accordion>
    
    </div>