.modal-body, .modal-footer,.modal-footer-mobile, .modal-body-mobile {
    background-color: #EDF5E1;
}

.modal-body, .modal-body-mobile {
    border-radius: 15px;
}

.modal-body, .modal-footer {
    width: 100%;
}

.modal-body {
    height: 100%;
    display: block;
}

button, .tag {
	background-color: #F3A8BC;
    color: black;
}


.close {
    background-color: #EDF5E1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    text-align: right;
}

.close-image {
    width: 35px;
}

.anime-div {
    width: 50%;
    margin-left: 5px;
    margin-right: 5px; 
}



 .chip-container {
    display: flex;
} 

.anime-container {
    margin-top: 5%;
    overflow: auto;
    height: 300px;
}


.anime-modal-body {
    color: black;
}

::ng-deep .modal-content {
    overflow: auto;
}