.modal-body, .modal-footer,.modal-footer-mobile, .modal-body-mobile {
    background-color: #EDF5E1;
}

.modal-body, .modal-body-mobile {
    border-radius: 15px;
}

.modal-body, .modal-footer {
    width: 100%;
}

.modal-body {
    height: 100%;
    display: block;
}

button, .tag {
	background-color: #F3A8BC;
    color: black;
}


.close {
    background-color: #EDF5E1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    text-align: right;
}

.close-image {
    width: 35px;
}

.anime-div {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 2px ;

}



 .chip-container {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
} 

.anime-container {
    margin-top: 5%;
    overflow: auto;
    height: 300px;
}

.chip-list, .url-container {
    margin-left: 2% !important;
}


.anime-modal-body {
    color: black;
}

::ng-deep .modal-content {
    overflow: auto;
}

.chip-title {
    display: flex;
    align-items: center;
}

.margin-top-seperator {
    margin-top: 2%;
}