<div class="anime-modal-body">

    <div>
      <div class="modal-body">
        <div class="d-flex justify-content-center flex-column">
            
            <div class="title d-flex justify-content-center">
              <h2>{{this.project.description}}</h2>
            </div>
  
   

            <ng-image-slider 
            [images]="this.project.imageObject" 
            [imagePopup]="false"
            [imageSize]="{height:'300px', width:'100%'}"
            #nav
            ></ng-image-slider>

            <div class="anime-container d-flex flex-column">

              <div class="anime-div">
                    {{this.project.long_description}}
              </div>

              <div class="chip-container">
                <div>Stack: </div>
                <mat-chip-list>
                  <div *ngFor="let item of this.project.stacks">
                    <mat-chip class="tag">{{item}}</mat-chip>
                  </div>
                </mat-chip-list>
              </div> 
              

              <div class="chip-container">
                <div>Techs: </div>
                <mat-chip-list>
                  <div *ngFor="let item of this.project.techs">
                    <mat-chip class="tag">{{item}}</mat-chip>
                  </div>
                </mat-chip-list>
              </div> 

              <div class="chip-container">
                <div>Techs: </div>
                <mat-chip-list>
                  <div *ngFor="let item of this.project.developments">
                    <mat-chip class="tag">{{item}}</mat-chip>
                  </div>
                </mat-chip-list>
              </div> 

              <div>
                <div>
                  Source:
                </div>
                <div>
                  {{this.project.source_code_url}}
                </div>
              </div>

              <div>
                <div>
                  Doccument:
                </div>
                <div>
                  {{this.project.document_url}}
                </div>
              </div>

              <div>
                <div>
                  Reference:
                </div>
                <div>
                  {{this.project.reference_url}}
                </div>
              </div>

            </div>

            
            <div class="torrent-detail-container">


            </div>
  
        </div>		
      </div>
      <div class="close">
        <img class="close-image" src="assets/images/icon-close_1.png" alt='image' (click)="activeModal.close('Close click')">
      </div>
    </div>
  </div>