<div class="question-body">
  <div *ngIf="screen === 0">
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center" style="text-align: center;">
              <h2>Notice An Issue? Or Having Any Requests Regarding About The Site. Please Submit The Following Form With Your Concern.</h2>
            </div>
          
            <div *ngIf="isLoading" class="d-flex justify-content-center">
              <img class="loading-image" class="" src="assets/images/loading-cute.gif" alt="Err">
            </div>


            <div>
              <!-- <form class="qa-form"> -->
                <mat-form-field class="qa-form-field" appearance="fill">
                  <mat-label>Message</mat-label>
                  <input required minlength="4" matInput #message placeholder="Ex. I need help with..." [(ngModel)]="question">
                  <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                </mat-form-field>
              <!-- </form> -->
            </div>
            
            
          </div>
        </div>		
      </div>

      <div class="modal-footer">
        <button mat-flat-button (click)="this.addQuestion(question);">Submit</button>
        <div style="width: 2%;"></div>
        <button mat-flat-button (click)="activeModal.close('Close click')">Close</button>
      </div>
  </div>
</div>
