.modal-body, .modal-footer,.modal-footer-mobile, .modal-body-mobile {
    background-color: #EDF5E1;
}

.modal-body, .modal-body-mobile {
    border-radius: 15px;
}

.modal-body, .modal-footer {
    width: 100%;
}

.qa-form-field {
    width: 100%;
}


.qa-form-field mat-label, .qa-form-field input, .qa-form-field mat-hint {
    color: black;
}

.question-body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.loading-image {
    width: 50%; 
    height: 100%;
}


.modal-footer button {
    background-color: #F3A8BC;
    color: black;
}