
<!-- <div class="img-container">
    <img src="assets/images/t1.jpg">
</div> -->
<mat-toolbar class="nav-bar">
    <div routerLink="/anime" routerLinkActive="active">Anime</div>
    <div class="nav-spacer"></div>
    <div routerLink="/anime" routerLinkActive="active">Manga</div>
    <div class="nav-spacer"></div>
    <div routerLink="/anime" routerLinkActive="active">Light Novel</div>
    <div class="nav-spacer"></div>
    <div routerLink="/anime" routerLinkActive="active">Eroge</div>
    <div class="nav-spacer"></div>
    <div routerLink="/anime" routerLinkActive="active">R18</div>
  </mat-toolbar>