



<mat-sidenav-container>
        <mat-sidenav #sidenav>
          <app-side-navigation (closeSideNav)="sidenav.close()"></app-side-navigation>
        </mat-sidenav>
      
        <mat-sidenav-content>
          <app-anime-navigation-bar class="sticky-top" (SideNavToggle)="sidenav.toggle()"></app-anime-navigation-bar>

        <main>
                <div [@routeAnimations]="prepareRoute(outlet)">
                        <router-outlet #outlet="outlet"></router-outlet>
                </div>
        </main>
          
        </mat-sidenav-content>
</mat-sidenav-container>