
        <!-- <button (click)="goDown1()">Scroll to Red DIV</button>
        <button (click)="goDown2()">Scroll to Green DIV</button>
        <button (click)="goDown3()">Scroll to Blue DIV</button> -->
        <!-- <button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"><i class="fa fa-plus"></i> Add</button>     -->
        <!-- <a routerLink="/home" routerLinkActive="active">Home</a> 
        <a routerLink="/anime" routerLinkActive="active">Anime</a>  -->

        <div [@routeAnimations]="prepareRoute(outlet)">
                <router-outlet #outlet="outlet"></router-outlet>
        </div>



