body {background-color: #5CDB95;}
::ng-deep .mat-typography {
    background-color: #5CDB95;
}

.anime-card {
	overflow: auto;
	margin: 1%;
	width: 100%;
	height: 98%;
	text-align: center;
	background-color: #EDF5E1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.anime-header, .anime-header-anime {
	display: flex;
	justify-content: center;
}
.anime-header-anime h3 {
	font-weight: bold;
}


.anime-header h3{
	font-weight: bold;
}

.option-sort,::ng-deep .mat-select-value, .paginator-mobile, .button-spring, .button-winter, .button-fall, .button-summer, 
.search-form, .find-torrent-text, .anime-body p,.anime-body-anime p, .anime-content h2, .anime-header h1,.anime-header h3, 
.btn-advance, .tag, .btn-qa-sticky, .btn-qa-sticky-back-to-top  {
	color: black;
}

.anime-top-chip {
	display: flex;
	justify-content: center;
	padding-bottom: 2%;
}

.tag {
	background-color: #F3A8BC;
}

.anime-body {
	padding: 1%;
	width: 100%;
	height: 60%;
	border-radius: 15px;
	border-style: outset;
}

.anime-image {
	width: 50%;
	border-radius: 15px;
	border-style: outset;
}

.anime-body-desc {
    width: 50%;
	overflow: auto;
	padding: 1%;
}

.anime-body-desc p {
	font-size: 12px;
}

.torrent-button-grid {
	cursor: pointer; 
	background-color: #34c97e;
	height: 40px;
	align-items: center;
}

.find-torrent-text {
	font-weight: bold;
	font-size: 20px;
}

.paginator-mobile {
	background-color: #34c97e;
}
