<div>
    <app-intro-navigator></app-intro-navigator>

    <div>
        <mat-grid-list cols="{{this.numberOfGrid}}" rowHeight="2.7:3">
            <div *ngFor="let item of projectList">
                <mat-grid-tile class="anime-grid-tile" >
                    <mat-card class="anime-card" >
                        <div class="anime-header">
                            <h1>{{item.description}}</h1>
                            </div>
                        <div class="anime-body d-flex">
                            <img class="anime-image"  src="{{item.image_url}}" alt="Photo Content - Error">
                            <div class="anime-body-desc">
                                <p>{{item.long_description}}</p>
                            </div>
                        </div>
                        <mat-card-content class="anime-content">
                        </mat-card-content>
                        <div class="torrent-button" (click)="openProjectModal(item)"
                        class="torrent-button-grid border rounded d-flex p-2">
                            <span class="find-torrent-text">Find Out More</span>
                        </div>
                    </mat-card>

                </mat-grid-tile>
            </div>
        </mat-grid-list>
        <mat-paginator class="paginator-mobile"  [length]="pageSize"
        [pageSize]="48"
        [pageSizeOptions]="[48 , 96]"
        aria-label="Select page" (page)="onPageChange($event)">
        </mat-paginator>
        
    </div>

</div>