
<!-- <div class="img-container">
    <img src="assets/images/t1.jpg">
</div> -->
<mat-toolbar class="nav-bar">
  <div routerLink="/home" routerLinkActive="active">Home</div>
  <div class="nav-spacer"></div>
  <!-- <div routerLink="/project" routerLinkActive="active">Project</div>
  <div class="nav-spacer"></div> -->
  <div routerLink="/anime" routerLinkActive="active">Anime</div>
  <div class="nav-spacer"></div>
  <div routerLink="/dmca" routerLinkActive="active">DMCA</div>
  <!-- <div class="nav-spacer"></div>
  <div routerLink="/http" routerLinkActive="active">HTTP</div> -->
  <!-- <div class="nav-spacer"></div>
  <div routerLink="/jikan" routerLinkActive="active">Jikan</div> -->
</mat-toolbar>