<div class="torrent-body">
<mat-accordion>
    <mat-expansion-panel class="expan-torrent" (click)="getSearch(title, episode)" hideToggle  >
      <mat-expansion-panel-header>
        <div *ngIf="episode == -3">
          <mat-panel-title class="text-torrent">
            Search Latest Torrent -3
          </mat-panel-title>
        </div> 

        <div *ngIf="episode == -2">
          <mat-panel-title class="text-torrent">
            Search Latest Torrent
          </mat-panel-title>
        </div> 
        <div *ngIf="episode != -2">
          <mat-panel-title class="text-torrent">
            Search Episode {{episode}}
          </mat-panel-title>
        </div> 

      </mat-expansion-panel-header>

      <div *ngIf="isLoading" style="text-align:center;">
        <img style="width: 20%; height: 20%;" class="" src="assets/images/loading-cute.gif" alt="Err">
      </div>

      <div *ngIf="!isLoading">
          <div *ngIf="isFound">
              <div *ngFor="let item of searchList">
                
                <mat-expansion-panel class="expan-torrent" (click)="getSearch(title, episode)" hideToggle  >
                  <mat-expansion-panel-header class="text-torrent-exp-parent">
          
                      <mat-panel-title class="text-torrent-exp-child row">
                        <div class="col-8" style="font-size: 10px;">
                          {{item["name"]}}
                          <!-- {{this.stringValidation(item["name"].replace('1080p','').replace('60fps','')
                          .replace('x265','').replace('10bit','').replace(' ',''))}} -->
                        </div>
                        <div class="col-4" style="text-align: end;">
                          <div class="row justify-content-end">
                            <div class="col-4">{{item["size"].replace(' ', '').replace('i', '')}}</div>
                            <div class="col-4"></div>
                          </div>
                          <div class="row justify-content-end">
                            <div class="col-4" style="text-align: end; color: blue;">S:{{item["seeders"]}}</div>
                            <div class="col-4" style="text-align: end; color: red;">L:{{item["leechers"]}}</div>
                          </div>
            
                        </div>
                      </mat-panel-title>
           
                  </mat-expansion-panel-header>
                  <div class="torrent-div d-flex flex-column">
                    <div class="d-flex justify-content-center">
                      {{this.itemTitle}}
                    </div>
                    <div>
                      {{this.itemCategory}} 
                    </div>
                    <div>
                      {{this.itemCategoryRound}}
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="torrent-div-item-2">{{ "Leed: " + item["leechers"]}}</div>
                      <div class="torrent-div-item-2">{{ "Seed: " + item["seeders"]}}</div>
                      <div class="torrent-div-item-2">{{ "Size: " + item["size"]}}</div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <a href='{{getDownloadLink(item["download_url"])}}' target="_self" rel="torrent" download>
                        Torrent File
                      </a>
                    </div>
                    <div class="d-flex justify-content-center">
                      <a [href]="processMagnet(item.magnet)" class="card-footer-item">
                        <i class="fa fa-magnet fa-fw"></i>Magnet
                      </a>
                    </div> 

                  </div>
                </mat-expansion-panel>
              </div>
          </div>
          <div *ngIf="!isFound">
              <a>No Results Found, Try Custom Search</a>
          </div>
      </div>
    </mat-expansion-panel>
</mat-accordion>

</div>